<div class="table-responsive ">
  <div class="col-sm-3">
    <button class="btn btn-success btn-with-icon" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/add-project.html', 'lg')">
        <i class="ion-stats-bars"></i> 
        Add Project
    </button>
  </div>
  <table class="table ">
    <tr>
      <th>#</th>
      <th>Project Name</th>
      <th>Project ID</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="item in projecctList">
      <td>{{$index + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.id}}</td>
      <td>{{item.startDate}}</td>
      <td>{{item.endDate}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/view-project.html', 'lg')">View</button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/add-project.html', 'lg')">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/dangerModal.html')">Delete</button>
      </td>
    </tr>
  </table>
</div>