<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel">Project Details </h4>
        </div>
        <div class="modal-body mail-panel">
<div >
        <div class="message">
        
          <div class="person-info row">
            <div class="col-lg-4 col-md-12  no-padding">
              <img src="assets/img/app/profile/avatar.png" class="human-picture">
      
              <div class="name">
                <h2 class="name-h">Name</h2>
                <div>
                  <span class="mail-tag tag label">Project Manager</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
              <div class="contact-info phone-email">
                <div>
                  <i class="ion-iphone"></i>
                  <span class="phone">777-777-7777</span>
                </div>
                <div>
                  <i class="ion-email"></i>
                  <span class="email">rnadukkandy@sapient.com</span>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
              <div class="contact-info position-address">
                <div>
                  <span class="position">Location</span>
                </div>
                <div>
                  <span class="address">Bengaluru</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          </div>
          <div class="line"></div>
          <div class="message-details">
            <span class="subject">Project Name</span>
            <span class="date">Started Date</span>
            <span class="date pull-right">End Date</span>
          </div>
          <div class="line"></div>
          <div  class="message-body">
                Aliquam eu facilisis eros, quis varius est.

                Consectetur adipiscing elit. Aliquam sodales sem in nibh pellentesque, ac dignissim mi dapibus.
                
                Lorem ipsum dolor sit amet! Nullam imperdiet justo a ipsum laoreet euismod.
                
                
                Cras tincidunt fermentum lectus, quis scelerisque lorem volutpat sed.Sed quis orci sed nisl sagittis viverra id at mauris. Nam venenatis mi nibh. Sed fringilla mattis vehic
          </div>
          <div class="line"></div>
          <div class="attachment" >
            <span class="file-links">1 Attachment - <a href>View</a> | <a href>Download</a></span>
            <div>
              <i class="file-icon ion-document"></i>
              <span class="file-name">FSD</span>
            </div>
          </div>
          <div class="line" ></div>
         
      
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Close</button>
    </div>
    </div>